.modal {
	display: flex;
	flex-direction: column;
	padding: 0 16px;
	overflow: hidden;
	background-color: var(--bg);
	height: 100%;
}

.content {
	flex: 1;
	padding-bottom: 16px;
	overflow-y: auto;
}
